.post.post-thumb {
  position: relative;
}

.post {
  margin-bottom: 10px;
}

.post .post-img {
  display: block;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
    box-shadow: 5px 5px #c9c9c9b9;
}

.post .post-img img {
  max-width: 500px;
  min-height: 300px;
  max-height: 300px;
  transition: 0.3s ease;
}

.post.post-thumb .post-body {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  max-width: 500px;
}

.post .post-meta {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-meta .post-category.cat-2 {
  /* background-color: #ff8700; */
  background-color: #0084ff;
}

.post-meta .post-category {
  font-size: 13px;
  text-transform: uppercase;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  margin-right: 15px;
  color: #fff;
  background-color: #212631;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.post.post-thumb .post-meta .post-date {
  color: #eceef2;
}
.post.post-recent .post-img .post-date {
  color: #eceef2;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: small;
}

.post-meta .post-date {
  font-size: 13px;
  font-weight: 600;
}

.post.post-thumb .post-title {
  font-size: 22px;
}

.post.post-thumb .post-title > a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.500);
  transition: 0.3s ease-in-out;
}

.post .post-title {
  font-size: 18px;
  margin-bottom: 0;
}

.post:hover img {
	opacity: 0.4;
}

.post:hover .highlights.post-title > a {
	opacity: 1;
	color : #0d0d0d!important;
	text-shadow: 2px 2px rgba(255, 255, 255, 0.493);
}
