  /* navbar styles */

  .navbar-brand {
    font-size: x-large;
  } 
  .navbar-nav li {
    border-inline-start: 1px solid #dee2e6;
    /* padding-block: 18px; */
    padding-block: 4px;
    padding-inline: 10px;
    font-size: medium;
  }
  .navbar-right li{
    transition: box-shadow .20s ease-in-out;
  }
  .navbar-right li:hover {
    box-shadow: inset 0 -50px 0 0px #000000;
  }
  
  .navbar-right li:hover .nav-link {
    color: white !important;
  }
  .navbar-right li:hover button {
    color: white !important;
  }

  .navbar-nav li.bar-home {
    border-bottom: 5px solid #4bb92f;
    transition: box-shadow .20s ease-in-out;
  }

  .navbar-nav li.bar-home:hover {
    box-shadow: inset 0 -50px 0 0px #4bb92f;
  }

  .navbar-nav li.bar-home:hover .nav-link {
    color: #ffffff;
  }

  .navbar-nav li.bar-categories {
    border-bottom: 5px solid #ff8700;
    transition: box-shadow .20s ease-in-out;
  }

  .navbar-nav li.bar-categories:hover {
    box-shadow: inset 0 -50px 0 0px #ff8700;
  }

  .navbar-nav li.bar-categories:hover .nav-link {
    color: #f5f5f5;
  }

  .navbar-nav li.bar-gadget {
    border-bottom: 5px solid #0078ff;
    transition: box-shadow .20s ease-in-out;
  }

  .navbar-nav li.bar-gadget:hover {
    box-shadow: inset 0 -50px 0 0px #0078ff;
  }

  .navbar-nav li.bar-gadget:hover .nav-link {
    color: #ffffff;
  }

  .navbar-nav li.bar-calander {
    border-bottom: 5px solid #8d00ff;
    border-inline-end: 1px solid #dee2e6;
    transition: box-shadow .20s ease-in-out;
  }

  .navbar-nav li.bar-calander:hover {
    box-shadow: inset 0 -50px 0 0px #8d00ff;
  }

  .navbar-nav li.bar-calander:hover .nav-link {
    color: #ffffff;
  }
  
  .navbar-nav li.bar-newpost {
    border-bottom: 5px solid #0b81cf;
    transition: box-shadow .20s ease-in-out;
  }
  .navbar-nav li.bar-newpost:hover {
    box-shadow: inset 0 -50px 0 0px #0b81cf;
  }

  .navbar-nav li.bar-newpost:hover .nav-link {
    color: #ffffff;
  }
  
  .navbar-nav li.bar-usermenu:hover {
    transition: none;
    box-shadow: none;
  }
  .navbar-right li.bar-usermenu:hover .nav-link {
    color: black !important;
  }
  

/* search-bar styles */
  .search-btn {
    border: none;
    line-height: 35px;
    background: transparent;
    cursor: pointer;
  }

  .search-form {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all;
    transition: .3s all;
  }

  .search-form.active {
    opacity: 1;
    visibility: visible;
  }

  .search-form .search-input {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    height: 100%;
    width: 100%;
    border: none;
    background: #fff;
    padding: 0;
    font-weight: 600;
  }

  .search-form .search-close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: transparent;
    line-height: 20px;
    color: #212631;
    font-size: 22px;
    padding: 0;
  }